.galerie {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 20px;
  margin-right: 20px;
}

.galerie img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

@media (max-width: 1024px) {
  .galerie img {
    border-radius: 10px;
  }
  .galerie {
    grid-template-columns: repeat(2, 1fr);
    margin-right: 20px;
  }
}


@media (max-width: 768px) {
  .galerie {
    grid-template-columns: 1fr;
  }

.galerie img {
    border-radius: 10px;
  }
}


@media (max-width: 480px) {
  .galerie {
    grid-template-columns: 1fr;
  }

  .galerie img {
    border-radius: 10px;
  }

}